NEXT_PUBLIC_GOOGLE_CLIENT_ID=1009144946354-mqdfod6ae57m3sp9f5jhh8u91vm0cvdd.apps.googleusercontent.com
NEXT_PUBLIC_BASE_URL=http://localhost:4000/
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
NEXT_PUBLIC_PAYMOB_API_KEY=ZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmpiR0Z6Y3lJNklrMWxjbU5vWVc1MElpd2ljSEp2Wm1sc1pWOXdheUk2T1RrM09URXdMQ0p1WVcxbElqb2lNVGN5T0RBeE5qazBNeTQ0TnprMU16SWlmUS45VzdKVXN6V0dBRU5vNE41SXNNMXBucHhXODFlc084bzd5MUpoRzMtc0tzTVgxOGVNRGtNczFyWXZzQ29ZMF9WZTE2TTI0VEwyclZGUTRxNkhpa1dpdw==