NEXT_PUBLIC_GOOGLE_CLIENT_ID=1009144946354-mqdfod6ae57m3sp9f5jhh8u91vm0cvdd.apps.googleusercontent.com
NEXT_PUBLIC_BASE_URL=http://localhost:4000/
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
NEXT_PUBLIC_PAYMOB_PUBLIC_KEY=pk_test_here
NEXT_PUBLIC_PAYMOB_SECRET_KEY=sk_test_here